<!DOCTYPE html>
<html>
    <head>
        <title>Travellink</title>
    </head>
    <body>
        <header>
            <img src="/img/logo.png" alt="Travellink logo">
        </header>
        {{{body}}}
    </body>
</html>